@use "abstract" as *;

.epg-time-line-container {
  border-top: 0.5px solid rgb(var(--nm-grey-light));
  border-bottom: 0.5px solid rgb(var(--nm-grey-light));
  color: rgb(var(--nm-white));
  font-size: $font-size-m;
  width: max-content;
  height: to-rem($spacer-huge);

  & > div {
    display: inline-block;

    &:first-child {
      margin-left: to-rem(85);
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .epg-time-line-container div:first-child {
    margin-left: to-rem(120);
  }
}
