@use "abstract" as *;

$itemHeight: 10;

.epg-time-line-container {
  display: flex;
  align-items: flex-end;
  border-bottom: 0.5px solid rgb(var(--nm-grey-light));
  color: rgb(var(--nm-white));
  font-size: $font-size-m;
  width: max-content;
  z-index: 1;
  position: relative;

  & > .epg-time-line-item-container {
    display: inline-block;
    margin-bottom: to-rem($itemHeight);

    &:first-child {
      margin-left: to-rem(85);
    }

    & .epg-time-line-item-min-content {
      width: fit-content;

      & .epg-time-line-item {
        position: relative;
        left: -50%;

        &::after {
          content: "";
          width: 1px;
          height: to-rem($itemHeight);
          background-color: rgb(var(--nm-grey-light));
          display: inline-block;
          position: absolute;
          left: 50%;
          bottom: to-rem(-$itemHeight);
        }
      }
    }
  }
}

.epg-time-line-container-height {
  height: to-rem($spacer-huge);
}

@media screen and (min-width: $screen-sm) {
  .epg-time-line-container .epg-time-line-item-container:first-child {
    margin-left: to-rem(120);
  }
}
