@use "abstract" as *;

.date-bar {
  background-color: rgb(var(--nm-grey-main));
  overflow: hidden;
  position: relative;

  & .date-bar-star {
    float: left;
    z-index: 1;
    position: relative;
    background: rgb(var(--nm-grey-main));

    & .extended-image {
      width: 40%;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  & .date-bar-list {
    width: 90%;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media screen and (min-width: $screen-lg) {
  .date-bar .date-bar-list {
    width: 96%;
  }
}
