@use "abstract" as *;

.request-error {
  color: rgb(var(--nm-white));
  text-align: center;
  margin-top: to-rem($spacer-big);
  font-size: $font-size-s;
}

.epg-container {
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;

  & .epg-reset-scroll-btn {
    cursor: pointer;
    position: fixed;
    background-color: rgb(var(--nm-yellow));
    color: rgb(var(--nm-white));
    font-weight: bold;
    font-size: $font-size-m;
    bottom: to-rem($spacer-xl);
    right: to-rem($spacer-md);
    padding: to-rem($spacer-xs);
    border-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: rgb(var(--nm-yellow-dark));
    }
  }
}

@media screen and (min-width: $screen-sm) {
  .request-error {
    font-size: $font-size-l;
  }
}

@media screen and (min-width: $screen-mdl) {
  .request-error {
    font-size: $font-size-xl;
  }
}
