@use "../size-key/size-key" as *;
@use "abstract/functions/to-rem/to-rem" as *;

$font-size-xxl: to-rem($size-key * 8); // 32
$font-size-xl: to-rem($size-key * 6); // 24
$font-size-l: to-rem($size-key * 5); // 20
$font-size-m: to-rem($size-key * 4.5); // 18
$font-size-s: to-rem($size-key * 4); // 16
$font-size-xs: to-rem($size-key * 3.5); // 14
$font-size-xxs: to-rem($size-key * 3); // 12
